@font-face {
  font-family: "iceberg";
  src: url("/iceberg-Regular.ttf");
  font-display: swap;
}

* {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: iceberg, sans-serif;
  margin: auto;
  padding: 0px;
  max-width: 1100px;
  text-align: left;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
